.puppies-background {
    background-color: lightblue
}

.christmas-background {
    background-color: lightpink;
}

.superman-background {
    background-color: lightyellow;
}

.disney-background {
    background-color: lightgoldenrodyellow;
}