.grid {
  display: inline-block;
  padding: 20px;
  border: 1px solid grey;
  margin: 20px;
  width: 96%;
}

.card {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}